.cart-list {
    padding: 0;
    list-style: none;
    height:80%;

    &-wrapper {
        display: flex;
        justify-content: center;
        align-items: start;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        height: 70%;
    }

    &-item {
        display: flex;

        h3 {
            margin-bottom: 0;
        }

        &-content {
            &>span {
                margin-right: 10px;
            }
        }
    }
}

.checkout-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}